EXPO_PUBLIC_API_URL=http://192.168.x.x:4000/api

GOOGLE_MAPS_IOS_API_KEY=your_ios_maps_sdk_key
GOOGLE_MAPS_ANDROID_API_KEY=your_android_maps_sdk_key
EXPO_PUBLIC_GOOGLE_DIRECTIONS_API_KEY=your_directions_api_key

EXPO_PUBLIC_FIREBASE_API_KEY=your_public_api_key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_project_id.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project_id.firebasestorage.app
EXPO_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id
